page-login {


  .login-image{
    background-image: url('../../assets/imgs/loginbg2.jpg');
    background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
  }}
