page-profile {




  .bc-image{
    background-image: url('../../assets/imgs/profilebg2.png');
    background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
  }}
