page-home{

.bg{
  background: radial-gradient(#904779 0%, #fff 100%);
}
.bg-image{
  background-image: url('../../assets/imgs/homebg.jpg');
  background-repeat: repeat;
      background-position: center;
      background-size: contain;
}
.excss{
  background: radial-gradient(#904779 0%, #fff 100%);
}


}
